<?xml version="1.0"?>
<launch>
    <arg name="scan_topic" default="/scan"/>
    <arg name="rosbag" />

    <arg name="particles" default="30"/>
    <arg name="d_thresh"  default="0.5"/>
    <arg name="a_thresh"  default="0.5"/>
    <arg name="mrange"    default="20"/>

    <arg name="threads"   default="4"/>
    <arg name="use_compression" default="false"/>

    <param name="/use_sim_time" value="true"/>

    <node pkg="iris_lama_ros" name="pf_slam2d_ros" type="pf_slam2d_ros" output="screen" required="true">
        <param name="scan_topic"    value="$(arg scan_topic)" />
        <param name="rosbag"        value="$(arg rosbag)" />

        <param name="particles" value="$(arg particles)"/>
        <param name="d_thresh"  value="$(arg d_thresh)"/>
        <param name="a_thresh"  value="$(arg a_thresh)"/>
        <param name="mrange"    value="$(arg mrange)"/>

        <param name="threads"   value="$(arg threads)"/>
        <param name="use_compression" value="$(arg use_compression)"/>

        <param name="create_summary"     value="true"/>
        <param name="map_publish_period" value="30" />
    </node>
</launch>
